@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Kalam:wght@300&family=Merriweather:wght@400;700&family=Roboto:wght@300;700&family=Ubuntu:wght@300;400&display=swap");
* {
  margin: auto;
  font-family: "Crimson Text", serif;
  padding: 0.7rem;
  --primary-color: purple;
}
body {
  background-color: cadetblue;
  width: 800px;
  text-align: center;
  padding: 3rem 0rem;
}
label {
  font-size: large;
}
#bill-amount {
  width: 200px;
  display: block;
  border-radius: 0.5rem;
  border-style: solid;
}
#cash-given {
  width: 200px;
  display: block;
  border-radius: 0.5rem;
  border-style: solid;
}
button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}
caption {
  font-size: 1.2rem;
}
table,
th,
td {
  border: 2px solid black;
  min-width: 50px;
  border-collapse: collapse;
}

.footer {
  padding-top: 5rem;
}
.link {
  text-decoration: none;
}
